<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest" xmlns:m3="http://schemas.microsoft.com/appx/2014/manifest" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest">
  <Identity Name="9c663dd0-4c24-4049-8fb9-1bd754264deb" Publisher="CN=kbiernat" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="13f940f7-b02d-4c3e-b04f-f81238966bc9" PhonePublisherId="00000000-0000-0000-0000-000000000000" /> <!--PhoneProductId="9c663dd0-4c24-4049-8fb9-1bd754264deb"-->
  <Properties>
    <DisplayName>VirtualGuide.Mobile.WindowsPhone</DisplayName>
    <PublisherDisplayName>kbiernat</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.1</OSMinVersion>
    <OSMaxVersionTested>6.3.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="VirtualGuide.Mobile.WindowsPhone.App">
      <m3:VisualElements DisplayName="VirtualGuide.Mobile.WindowsPhone" Square150x150Logo="Assets\Logo.png" Square44x44Logo="Assets\SmallLogo.png" Description="VirtualGuide.Mobile.WindowsPhone" ForegroundText="light" BackgroundColor="transparent">
        <m3:DefaultTile Wide310x150Logo="Assets\WideLogo.png" Square71x71Logo="Assets\Square71x71Logo.png">
        </m3:DefaultTile>
        <m3:SplashScreen Image="Assets\SplashScreen.png" />
        <m3:InitialRotationPreference>
          <m3:Rotation Preference="portrait" />
        </m3:InitialRotationPreference>
      </m3:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClientServer" />
    <DeviceCapability Name="location" />
  </Capabilities>
</Package>