<div class="row">
    <div class="col-md-12">
        <div class="box box-primary">
            <div class="box-header" ng-hide="travel.editMode">
                <h3 class="box-title">Hello</h3>
            </div><!-- /.box-header -->

            <div class="box-body" ng-hide="travel.editMode">
                <p>In this panel you can add and review your guides.</p>
            </div>

            <div class="box-footer">
                <button class="btn btn-primary" ui-sref="admin.travels">View Travels</button>
            </div>
        </div>
    </div>
</div>