<div class="box">
    <div class="box-header">
        <h3 class="box-title">Travel Add/Edit</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <form role="form">
            <!-- text input -->
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" placeholder="Enter name for your guide"/>
            </div>
            <div class="form-group">
                <label for="description">Description</label>
                <textarea class="form-control" rows="3" placeholder="Enter description"></textarea>
            </div>
        </form>
        </>
    </div>  
