<div class="row">
    <div class="col-md-7">
        <div class="box box-primary">
            <div class="box-header" ng-hide="travel.editMode">
                <h3 class="box-title" ng-bind="travel.Name"></h3>
            </div><!-- /.box-header -->

            <div class="box-body" ng-hide="travel.editMode">
                <!-- text input -->
                <p ng-bind="travel.Description"></p>
                <p ng-bind="travel.Price"></p>
            </div>
            <div class="box-body" ng-show="travel.editMode">
                <div class="form-group">
                    <input type="text" name="name" ng-model="travel.Name" class="form-control" placeholder="Enter name for your guide" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" ng-model="travel.Description" rows="3" placeholder="Enter description"></textarea>
                </div>
                <div class="form-group">
                    <input type="number" ng-model="travel.Price" class="form-control" placeholder="Enter price" />
                </div>
            </div>
            <div class="box-footer">
                <button ng-click="editTravel()" class="btn btn-success" ng-hide="travel.editMode">Edit</button>
                <button ng-click="saveTravel()" class="btn btn-success" ng-show="travel.editMode">Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box box-primary" ng-bind-html="travel.ImageSrc | imageSource:'thumbnail'"></div>
    </div>
</div>

<div class="row">
    <div class="col-md-6" ng-repeat="property in travel.Properties">
        <div class="box box-success">
            <div class="box-header" ng-hide="property.editMode">
                <h3 class="box-title">
                    <span ng-bind-html="property.Icon.Path | imageSource: 'icon-thumb'"></span>
                    <span ng-bind="property.Title"></span>
                </h3>
            </div><!-- /.box-header -->
            <div class="box-body" ng-hide="property.editMode">
                <p ng-bind="property.Description"></p>
            </div>
            <div class="box-body" ng-show="property.editMode">
                <div class="form-group form-inline">
                    <button class="btn btn-default" ng-click="chooseIcon($index)">
                        <span ng-bind-html="property.Icon.Path | imageSource: 'icon-thumb'"></span>
                    </button>
                    <input type="text" ng-model="property.Title" class="form-control" placeholder="Enter title" />
                </div>
                <div class="form-group">
                    <textarea class="form-control" ng-model="property.Description" rows="8" placeholder="Enter description"></textarea>
                </div>
            </div>
            <div class="box-footer">
                <button class="btn btn-success" ng-click="editProperty($index)" ng-hide="property.editMode">Edit</button>
                <button class="btn btn-success" ng-click="saveProperty($index)" ng-show="property.editMode">Save</button>
                <button class="btn btn-warning" ng-click="cancelPropertyEdit($index)" ng-show="property.editMode">Cancel</button>
                <button class="btn btn-danger" ng-click="removeProperty($index)" ng-show="property.editMode">Delete</button>
            </div>
        </div>
    </div>
</div>

<div class="row">

    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Places</h3>
            </div>
            <div class="box-body">
                <div class="box-group" id="accordion">
                    <div class="panel box box-success" ng-repeat="marker in map.markers">
                        <a data-toggle="collapse" data-parent="#accordion"
                           data-target="#collapse{{$index}}">
                            <div class="box-header" ng-hide="marker.editMode">
                                <h4 class="box-title" ng-bind="marker.place.Name"></h4>
                            </div>
                        </a>
                        <div id="collapse{{$index}}" class="panel-collapse collapse">
                            <div class="box-body" ng-hide="marker.editMode">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img ng-src="{{marker.place.Image}}" class="thumbnail">
                                    </div>
                                    <div class="col-md-8">
                                        <p ng-bind="marker.place.Description"></p>
                                        <p><strong>Category: </strong><span ng-bind="marker.place.CategoryName"></span></p>
                                    </div>
                                </div>
                            </div>
                            <div class="box-body" ng-show="marker.editMode">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <input type="text" ng-model="marker.place.Name"
                                                   class="form-control" placeholder="Enter name for your guide" required />
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div ng-file-drop="onFileSelect($files, $index)" ng-file-drag-over-class="dragover" class="col-md-4">
                                        <img ng-src="{{marker.place.Image}}" class="thumbnail">
                                    </div>
                                    <div class="col-md-8">
                                        
                                        <div class="form-group">
                                            <textarea class="form-control"
                                                      ng-model="marker.place.Description"
                                                      rows="3" placeholder="Enter description" required></textarea>
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control" ng-model="marker.place.CategoryId"
                                                    ng-options="category.Id as category.Name for category in categories"
                                                    required></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="box-footer">
                                <button class="btn btn-success" ng-click="editPlace($index)" ng-hide="marker.editMode">Edit</button>
                                <button class="btn btn-success" ng-click="savePlace($index)" ng-show="marker.editMode">Save</button>
                                <button class="btn btn-danger" ng-click="removePlace($index)" ng-show="marker.editMode">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">Places</h3>
            </div>
            <div class="box-body">
                <leaflet id="map" tiles="$root.tiles" markers="map.markers" defaults="map.defaults" center="map.center" controls="$root.controls"></leaflet>
            </div>
        </div>
    </div>
</div>

