<div class="row">
<div class="col-md-12">

    <a ng-click="newTravel()" class="btn btn-primary">+ <span translate>Add</span></a>
</div>
</div>    

<div class="row">
<div class="col-md-12">

<div class="box">
    <div class="box-header">
        <h3 class="box-title"></h3>
        <div class="box-tools">
            <div class="input-group">
                <!--<input type="text" name="table_search" class="form-control input-sm pull-right" style="width: 150px;" placeholder="Search" />-->
                <div class="input-btn-group">
                    <!--<button class="btn btn-sm btn-default"><i class="fa fa-search"></i></button>-->
                </div>
            </div>
        </div>
    </div><!-- /.box-header -->
    <div class="box-body table-responsive">
        <table class="table table-hover table-responsive alltravels" ng-show="travels.length">
            <tr>
                <th translate>Icon</th>
                <th translate>Name</th>
                <th translate>Description</th>
                <th translate>Price</th>
                <th translate>Approved</th>
                <th translate>Action</th>
            </tr>
            <tr ng-repeat="travel in travels | orderBy:'Id':true">
                <td class="col-md-3" ng-bind-html="travel.ImageSrc | imageSource:'thumbnail'"></td>
                <td>{{travel.Name}}</td>
                <td>{{travel.Description}}</td>
                <td>${{travel.Price}}</td>
                <td>
                    <span class="label label-success" ng-show="travel.ApprovalStatus" translate>Published</span>
                    <span class="label label-warning" ng-hide="travel.ApprovalStatus" translate>Not published</span>
                </td>
                <td>
                    <button ng-click="showTravel(travel.Id)" class="btn btn-small btn-primary" translate>Show</button>
                    <button ng-click="publishTravel(travel)" ng-hide="travel.ApprovalStatus" class="btn btn-small btn-success" translate>Publish</button>
                </td>
            </tr>
        </table>
        <p ng-hide="travels.length" translate="NoTravelsMsg"></p>
    </div><!-- /.box-body -->
    
</div><!-- /.box -->
</div>
</div>
            