<div class="row" id="Travel">
    <div class="col-md-7">
        <div class="box box-primary">
            <div class="box-header" ng-hide="travel.editMode">
                <h3 class="box-title" ng-bind="travel.Name"></h3>
            </div><!-- /.box-header -->

            <div class="box-body" ng-hide="travel.editMode">
                <!-- text input -->
                <p ng-bind="travel.Description"></p>
                <p ng-bind="travel.Price"></p>
            </div>
            <div class="box-body" ng-show="travel.editMode">
                <div class="box-tools pull-right">
                    <button class="btn btn-default btn-sm" ng-click="cancelTravelEdit()" data-original-title="cancel"><i class="fa fa-times"></i></button>
                </div>
                <div ng-class="$root.errors['travel.Name'] ? 'has-error form-group' : 'form-group' ">

                    <span ng-bind-html="'travel.Name' | errorLabel" ></span>
                    <input type="text" name="name" ng-model="travel.Name" class="form-control" placeholder="{{'Enter name for your guide' | translate }}" />
                </div>
                <div ng-class="$root.errors['travel.Description'] ? 'has-error form-group' : 'form-group' ">
                    <span ng-bind-html="'travel.Description' | errorLabel" ></span>
                    <textarea class="form-control" ng-model="travel.Description" rows="3" placeholder="{{'Enter short description' | translate}}"></textarea>
                </div>
                <div ng-class="$root.errors['travel.Price'] ? 'has-error form-group' : 'form-group' ">
                    <span ng-bind-html="'travel.Price' | errorLabel" ></span>
                    <input type="number" ng-model="travel.Price" class="form-control" placeholder="{{'Enter price' | translate}}" />
                </div>
            </div>
            <div class="box-footer">
                <button ng-click="editTravel()" class="btn btn-success" ng-hide="travel.editMode || anyEditInProgress" translate>Edit</button>
                <button ng-click="saveTravel()" class="btn btn-success" ng-show="travel.editMode" translate>Save</button>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <div class="box box-primary" ng-hide="travel.editMode" ng-bind-html="travel.ImageSrc | imageSource:'thumbnail'"></div>
        <div class="box box-primary" ng-show="travel.editMode">
            <div>
                <!--ng-bind-html="travel.ImageSrc | imageSource:'thumbnail'"-->
                <div style="width:100%;height:100%" ng-file-drop="onTravelImageSelect($files)" ng-file-drag-over-class="dragover">
                    <img ng-src="{{travel.Image}}" class="thumbnail">
                </div>
            </div>
            <span class="btn btn-primary btn-file">
                <span translate>Browse</span> <input type="file" ng-file-select="onTravelImageSelect($files)">
            </span>
        </div>
    </div>
</div>

<div id="Properties">
    <div class="row pin-wrapper" >
        <div ng-repeat="property in travel.Properties">
            <div class="box box-success">
                <div class="box-header" ng-hide="property.editMode">
                    <h3 class="box-title">
                        <span ng-bind-html="property.Icon.Path | imageSource: 'icon-thumb'"></span>
                        <span ng-bind="property.Title"></span>
                    </h3>
                </div><!-- /.box-header -->

                <div class="box-body" ng-hide="property.editMode">
                    <p ng-bind="property.Description"></p>
                </div>
                <div class="box-body" ng-show="property.editMode">
                    <div class="box-tools pull-right">
                        <button class="btn btn-default btn-sm" ng-click="property.isNew ? removeProperty($index) : cancelPropertyEdit($index)" data-original-title="cancel"><i class="fa fa-times"></i></button>
                    </div>
                    <div class="form-group form-inline">
                        <div ng-class="$root.errors['property.IconId'] ? 'has-error form-group' : 'form-group' ">
                            <span ng-bind-html="'property.IconId' | errorLabel" ></span>
                            <button class="btn btn-default choose-icon-btn" ng-click="chooseIcon($index)">
                                <span ng-bind-html="property.Icon.Path | imageSource: 'icon-thumb'"></span>
                            </button>
                        </div>
                        <div ng-class="$root.errors['property.Title'] ? 'has-error form-group' : 'form-group' ">
                            <span ng-bind-html="'property.Title' | errorLabel" ></span>
                            <input type="text" style="width:250px" maxlength="30" ng-model="property.Title" class="form-control" placeholder="{{'Enter title' | translate}}" />
                        </div>
                    </div>
                    <div ng-class="$root.errors['property.Description'] ? 'has-error form-group' : 'form-group' ">
                        <span ng-bind-html="'property.Description' | errorLabel" ></span>
                        <textarea class="form-control" ng-model="property.Description" rows="8" placeholder="{{'Enter description' | translate}}"></textarea>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-success" ng-click="editProperty($index)" ng-hide="property.editMode|| anyEditInProgress" translate>Edit</button>
                    <button class="btn btn-success" ng-click="saveProperty($index)" ng-show="property.editMode" translate>Save</button>
                    <button class="btn btn-danger" ng-click="removeProperty($index)" ng-show="property.editMode" translate>Delete</button>
                </div>
            </div>
        </div>
        <div>
            <div class="box box-default">
                <div class="box-body">
                    <button class="btn btn-primary btn-large" ng-click="addProperty()" ng-hide="anyEditInProgress" translate>Add property</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row" id="Map">

    <div class="col-md-12">
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title" app-anchor="Map" translate>Places</h3>
            </div>
            <div class="box-body">
                <leaflet id="map" tiles="$root.tiles" markers="map.markers" defaults="map.defaults" center="map.center" controls="$root.controls"></leaflet>
            </div>
            <div class="box-footer">
                <div ng-show="PlaceAddMode == false && !anyEditInProgress">
                    <button class="btn btn-primary" ng-click="PlaceAddMode = 'marker'" translate>Add place</button>
                </div>
                <div ng-show="PlaceAddMode == 'marker'">
                    <p translate>Click on the map to add new place</p>
                    <button class="btn btn-default" ng-click="PlaceAddMode = false" translate>Cancel</button>
                </div>
                <div ng-show="PlaceAddMode == 'input'">
                    <p translate>Now, fill the information about the place below</p>
                </div>

            </div>
        </div>
    </div>
</div>
<div class="row" id="Places">
    <div class="col-md-12">
        <accordion class="box-group" id="accordion" close-others="false">
            <accordion-group id="place{{marker.id}}" class="panel box box-success" ng-repeat="marker in map.markers | orderBy:'id':true " is-open="marker.isOpen">
                <accordion-heading>
                    <div class="box-header" ng-hide="marker.editMode">
                        <h4 class="box-title" ng-bind="marker.place.Name"></h4>
                    </div>
                </accordion-heading>
                <div class="box-body" ng-hide="marker.editMode">
                    <div class="row">
                        <div class="col-md-4">
                            <img ng-src="{{marker.place.Image}}" class="thumbnail">
                        </div>
                        <div class="col-md-8">
                            <p ng-bind="marker.place.Description"></p>
                            <p><strong><span translate>Category</span>: </strong><span ng-bind="marker.place.CategoryName"></span></p>
                        </div>
                    </div>
                </div>
                <div class="box-body" ng-show="marker.editMode">
                    <div class="row">
                        <div class="col-md-12">
                            <div ng-class="$root.errors['place.Name'] ? 'has-error form-group' : 'form-group' ">
                                <span ng-bind-html="'place.Name' | errorLabel" ></span>
                                <input type="text" 
                                        ng-model="marker.place.Name"
                                        class="form-control" 
                                        placeholder="{{'Enter name for this place' | translate}}" 
                                        required />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div ng-file-drop="onPlaceImageSelect($files, marker)" ng-file-drag-over-class="dragover" class="col-md-4">
                            <img ng-src="{{marker.place.Image}}" class="thumbnail">
                        </div>
                        <div class="col-md-8">

                            <div ng-class="$root.errors['place.Description'] ? 'has-error form-group' : 'form-group' ">
                                <span ng-bind-html="'place.Description' | errorLabel" ></span>
                                <textarea   class="form-control"
                                            placeholder="{{'Enter description about the place such as history or interesting facts' | translate}}"
                                            ng-model="marker.place.Description"
                                            rows="3" 
                                            required></textarea>
                            </div>
                            <div ng-class="$root.errors['place.CategoryId'] ? 'has-error form-group' : 'form-group' ">
                                <span ng-bind-html="'place.CategoryId' | errorLabel" ></span>
                                <select class="form-control" 
                                        ng-model="marker.place.CategoryId"
                                        ng-options="category.Id as category.Name for category in categories"
                                        required>
                                        <option value='' disabled selected style='display:none;'>{{'Choose category' | translate}}</option>
                                        </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="box-footer">
                    <button class="btn btn-success" ng-click="editPlace(marker)" ng-hide="marker.editMode || anyEditInProgress" translate>Edit</button>
                    <button class="btn btn-default" ng-click="showOnMap(marker)" translate>Show on Map</button>
                    <button class="btn btn-success" ng-click="savePlace(marker)" ng-show="marker.editMode" translate>Save</button>
                    <button class="btn btn-danger" ng-click="removePlace(marker)" ng-show="marker.editMode" translate>Delete</button>
                </div>
            </accordion-group>
        </accordion>
    </div>
</div>

